[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DEFormats"]
	path = DEFormats
	url = https://github.com/aoles/deformats
[submodule "EBImage"]
	path = EBImage
	url = https://github.com/aoles/ebimage
[submodule "RBioFormats"]
	path = RBioFormats
	url = https://github.com/aoles/rbioformats
